﻿@{
    ViewBag.Title = "Hello kitty!";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/Lab1/ex1.js"></script>
<link href="~/Content/Lab1.css" rel="stylesheet" />
<h2>Hello kitty!</h2>
<ol>
    <li>Napisz funkcję która zmienia tekst nagłówka (.simon-says-header) na tekst 'Imię says: Hello kitty.', imię przekaż jako argument.</li>
    <li>Uruchom tą funkcję kiedy użytkownik kliknie przycisk 'Set name' (.set-name-btn).</li>
    <li>Zmień callback tak aby imię było pobierane z okna prompt (prompt('pytanie')).</li>
    <li>Zmień funkcję zmieniającą imię tak aby zmieniała cały nagłówek (.simon-says-header) 'Imie says: Hello kitty.' na 'Simon says: architecture!' jeśli podane imie to 'Simon'.</li>
</ol>

<h4 class="simon-says-header">.simon-says-header</h4>
<p><img src="~/Content/images/HelloKitty2.jpg" /></p>
<p><button type="button" class="set-name-btn">Set name</button></p>
