﻿@{
    ViewBag.Title = "Wrath of Khan";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/Lab1/ex2.js"></script>
<link href="~/Content/Lab1.css" rel="stylesheet" />

<h2>Wrath of Khan</h2>
<p>Informacje</p>
<ul>
    <li>Strona zawiera div (.movies) z listą pierwszych kilku filmów z serii star trek.</li>
    <li>Każdy element listy jest divem (.st-box)</li>
    <li>Każdy div zawierający tytuł oraz obrazek posiada także atrybut data-index zawierający informację który w kolejności jest to film (pod względem daty emisji).</li>
</ul>
<p>Zadanie:</p>
<ol>
    <li>Po kliknięciu na przycisk Sort (.sort-btn) posortuj informacje o filmach w kolejności daty emisji.</li>
    <li>Dodaj do każdego diva nagłówek h3 z indeksem filmu.</li>    
</ol>

<button class="sort-btn">Sort</button>
<div class="movies">
    <div class="st-box" data-index="4">
        <p>Star Trek IV: The Voyage Home</p>
        <img src="~/Content/images/st_4.png" />

    </div>

    <div class="st-box" data-index="2">
        <p>Star Trek II: The Wrath of Khan</p>
        <img src="~/Content/images/st_2.png" />

    </div>
    <div class="st-box" data-index="3">
        <p>Star Trek III: The Search for Spock</p>
        <img src="~/Content/images/st_3.png" />

    </div>
    <div class="st-box" data-index="5">
        <p>Star Trek V: The Final Frontier</p>
        <img src="~/Content/images/st_5.png" />

    </div>
    <div class="st-box" data-index="1">
        <p>Star Trek: The Motion Picture</p>
        <img src="~/Content/images/st_1.png" />

    </div>
</div>
