﻿@{
    ViewBag.Title = "Show me your graveyard";
}
<link href="~/Content/Lab1.css" rel="stylesheet" />
<script src="~/Scripts/Lab1/ex3.js"></script>
<h2>Show me your graveyard</h2>

<p>Informacje</p>
<ul>
    <li>W pliku ex3.coffee znajduje się funkcja getCemeteries pobierająca listę informacji o cmentarzach w regionie Niagara.</li>
    <li>Na stronie znajduje sie div (.cemeteries), który zawiera template diva z informacjami o cmentarzu.</li>
</ul>

<p>Zadanie:</p>
<ol>
    <li>Wypisz w consoli (console.log) lub do diva .console  ($('.console').text '...' ) ile jest cmentarzy w gminnie "Lincoln".</li>
    <li>Wypisz w consoli ile jest cmentarz którzy nie posiadają wpisanego właściciela (OWNERSHIP).</li>
    <li>Wyświetl informacje o pierwszych pięciu cmentarzach uzywając poniżeszgo templata.</li>
</ol>

<div class="console">
    

</div>
<div class="cemeteries ">
    <div class="template cemetery">
        <div class="label">Name: </div>
        <div class="data" data-for="CEM_NAME"></div>
        <div class="label">Municipality:</div>
        <div class="data" data-for="MUNICIPALITY"></div>
        <div class="label">Ownership:</div>
        <div class="data" data-for="OWNERSHIP"></div>
        <div class="label">Lat:</div>
        <div class="data" data-for="Lat"></div>
        <div class="label">Long:</div>
        <div class="data" data-for="Long"></div>

    </div>


</div>
