﻿@model IEnumerable<DataAccess.Word>

@{
	ViewBag.Title = "Words";
	Layout = "../Shared/_Layout.cshtml";
}

<h2>Words</h2>
<ul>
	@foreach(var word in Model)
	{
	 <li>@word.EnglishWord = @word.Translation</li>
	}
</ul>
