﻿@{
	ViewBag.Title = "Ex1";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/colorpicker/css/colorpicker.css" rel="stylesheet" />

@section scripts {
	@Scripts.Render("~/bundles/lab3")
}


<h2>T-1000: first lines of code</h2>
<div class="counters">
	<div class="counter ">
		<div class="icon">
			<img src="~/Content/Lab3/bolt.png" />
		</div>
		<div class="label bolts-left"></div>
	</div>
	<div class="counter ">
		<div class="icon">
			<img src="~/Content/Lab3/key.png" />
		</div>
		<div class="label keys-left"></div>
	</div>
	<div class="counter ">
		<div class="icon">
			<img src="~/Content/Lab3/ammo.png" />
		</div>
		<div class="label ammo-left"></div>
	</div>
</div>
<div class="clear-fix"></div>
<canvas class="game-board " width="512" height="512"></canvas>


<div class="color-selectors">
	<div class="color-selector" data-for="0" data-start-val="A27240"></div>
	<div class="color-selector" data-for="1" data-start-val="1C2783"></div>
	<div class="color-selector" data-for="2" data-start-val="101010"></div>
	<div class="color-selector" data-for="3" data-start-val="989898"></div>
	<div class="background-color-selector" data-start-val="008000"></div>
</div>
<div class="task-desc">
	<ol>
		<li>Utwórz klasę reprezentującą śrubki, które będzie zbierał robbo.
			<ul>
				<li>Otwórz Bolt.coffee.</li>
				<li>Zdefiniuj klasę app.Bolt, która dziedziczy z app.Object.</li>
				<li>Zdefiniuj konstruktor, który wywołuje konstruktor bazowy. Przekaż 'bolt' jako nazwę asetu  (spójrz na Container.coffee).</li>
				<li>Otwórz GameLoader.coffee, dodaj kilka śrubek do mapy zamieniając '_' na 'b' w zmiennej mapStr.</li>
				<li>Spraw aby robbo zmierał śrubki. Za każdym razem kiedy robbo przemieści się wysyła zdarzenie. Użyj @@eventAggregator aby zasubskrybować to zdarzenie:<br />
					@@eventAggregator.subscribe 'robbo-moved',((args)=>@@eventHandler(args)),this,(x,y)=>@@x=x and @@=y<br />
					Pierwszy argument to nazwa zdarzenia, drugi to methoda obsługująca zdarzenie, trzeci to obiekt subskrybujący, czwarty to predykat który filtruje zdarzenia.
					W tym przypadku interesują nas tylko te zdarzenia 'robbo-moved', kiedy robbo wchodzi na pozycję zajmowaną przez śrubkę.
				</li>
				<li>Po zebraniu śrubki wemituj zdarzenie 'bolt-collected' oraz anuluj subskrybcję śrubki do zdarzeń (@@eventAggregator.unsubscribe this)</li>
			</ul>
		</li>
		<li>Utwórz klasę reprezentującą klucze, które można zbierać.
			<ul>
				<li>Zrób to analogicznie do śrubki. </li>
				<li>Wyemituj zdarzenie 'key-collected'.</li>
			</ul>
		</li>
		<li>Utwórz mixin collectable, który będzie dodawał do obiektów zachowanie 'można zbierać'. Mixin może mieć argument wejściowy. Spójrz na Container.coffee oraz Moveable.coffee.</li>
	</ol>

</div>

<div id="assets">
	<img src="~/Content/Lab3/wall.png" class="asset wall" />
	<img src="~/Content/Lab3/bolt.png" class="asset bolt" />
	<img src="~/Content/Lab3/container.png" class="asset container" />
	<img src="~/Content/Lab3/ship_inactive.png" class="asset ship-inactive" />
	<img src="~/Content/Lab3/ship_active.png" class="asset ship-active" />
	<img src="~/Content/Lab3/bomb.png" class="asset bomb" />
	<img src="~/Content/Lab3/key.png" class="asset key" />
	<img src="~/Content/Lab3/rubble.png" class="asset rubble" />
	<img src="~/Content/Lab3/door.png" class="asset door" />
	<img src="~/Content/Lab3/ammo.png" class="asset ammo" />

	<img src="~/Content/Lab3/laser-beam-ho.png" class="asset laser-beam-ho" />
	<img src="~/Content/Lab3/laser-beam-vo.png" class="asset laser-beam-vo" />
	<img src="~/Content/Lab3/laser-beam-he.png" class="asset laser-beam-he" />
	<img src="~/Content/Lab3/laser-beam-ve.png" class="asset laser-beam-ve" />

	<img src="~/Content/Lab3/laser-d.png" class="asset laser-d" />
	<img src="~/Content/Lab3/laser-r.png" class="asset laser-r" />
	<img src="~/Content/Lab3/laser-l.png" class="asset laser-l" />
	<img src="~/Content/Lab3/laser-u.png" class="asset laser-u" />

	<img src="~/Content/Lab3/robbo-fu.png" class="asset robbo-fu" />
	<img src="~/Content/Lab3/robbo-fd.png" class="asset robbo-fd" />

	<img src="~/Content/Lab3/robbo-lu.png" class="asset robbo-lu" />
	<img src="~/Content/Lab3/robbo-ld.png" class="asset robbo-ld" />

	<img src="~/Content/Lab3/robbo-ru.png" class="asset robbo-ru" />
	<img src="~/Content/Lab3/robbo-rd.png" class="asset robbo-rd" />
	<img src="~/Content/Lab3/robbo-uu.png" class="asset robbo-uu" />
	<img src="~/Content/Lab3/robbo-ud.png" class="asset robbo-ud" />

	<img src="~/Content/Lab3/smoke-1.png" class="asset smoke-1" />
	<img src="~/Content/Lab3/smoke-2.png" class="asset smoke-2" />
	<img src="~/Content/Lab3/smoke-3.png" class="asset smoke-3" />
	<img src="~/Content/Lab3/smoke-4.png" class="asset smoke-4" />


</div>
<canvas width="32" height="32" class="assetLoad"></canvas>
