﻿@{
	ViewBag.Title = "title";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/QUnit/QUnit.1.10.0.css" rel="stylesheet" />
<script src="~/Scripts/QUnit/QUnit.1.10.1.js"></script>

@section scripts {
	@Scripts.Render("~/bundles/lab3-tests")
}
<script src="~/Scripts/Lab3/Tests/BombTest.js"></script>
<script src="~/Scripts/Lab3/Tests/ContainerTest.js"></script>
<script src="~/Scripts/Lab3/Tests/RobboTest.js"></script>
<script src="~/Scripts/Lab3/Tests/ShipTest.js"></script>
<script src="~/Scripts/Lab3/Tests/KeyTest.js"></script>
<script src="~/Scripts/Lab3/Tests/BoltTest.js"></script>
<script src="~/Scripts/Lab3/Tests/AmmoTest.js"></script>
<script src="~/Scripts/Lab3/Tests/LaserTest.js"></script>

<script src="~/Scripts/Lab3/Tests/LaserBeamTest.js"></script>

<h1 id="qunit-header">Unit Tests</h1>
<h2 id="qunit-banner"></h2>
<h2 id="qunit-userAgent"></h2>
<ol id="qunit-tests">
</ol>
<div id="qunit-fixture">test markup, will be hidden</div>
