﻿@{
    ViewBag.Title = "Ciemność widze, widze ciemność";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/Lab2/Ex1.js"></script>
<link href="~/Content/Lab2.css" rel="stylesheet" />
<h2>Ciemność widze, widze ciemność</h2>
<ol>
    <li>Zadaniem jest stworzenie kontrolki, która będzie pozwalała powtarzać fragmenty formularza n razy.</li>
    <li>Na samy dole strony znajduje się instancja działającej kontrolki spełniającej wszystkie wymagania (kod do niej jest zminifikowany więc mam nadzieje wiele wam nie pomorze :) ).
        <br/><img src="~/Images/underestimate.jpg" > <br/>
        <h3><a href="http://jsbeautifier.org/">JS Beautifier</a></h3>
    </li>
    <li>Strona zawiera div .users zawierający jeden div .user.template </li>
    <li>W pliku Script/Lab2/Ex1.coffee znajduje się zarys kontrolki: klasa FormList, zawierająca konstruktor przyjmujący dwa argumenty (obiekt jquery zawierający kontener powtarzalnego elementu, w tym przypadku div .users, oraz liczbę oznaczającą ile można maksymalnie utworzyć kopii wzorca).</li>
    <li>Dodaj do diva .template przycisk add który pozwoli dodać kopię wzorca (powielić fragment .user).</li>
    <li>Element dodawany powinien pojawić się pod elementem na którym kliknięto Add.</li>
    <li>Po dodaniu elementu, numery elementów w prawym górnym rogu powinny być uaktualnione.</li>
    <li>Kopia powinna zawierać dwa przyciski: Add i Remove.</li>
    <li>Jeśli jest tylko jeden element przycisk Remove powinien być ukryty.</li>
    <li>Jeśli liczba elementów osiągnęła maksymalną dozwoloną liczbę przyciski Add powinny być ukryte.</li>
</ol>

<div class="users">
    <div class="user template item">
        <h3 class="index">1</h3>
        <div class="label">User name: </div>
        <div class="data">
            <input type="text" class="userName" data-for="userName" />
        </div>
        <div class="label">Email: </div>
        <div class="data">
            <input type="text" class="email" data-for="email" />
        </div>
    </div>
</div>


<div class="void">
@*    <script type="text/javascript">
        $(function () { var n; n = function () { function n(n, t) { this.element = n, this.maxElements = t, this.template = this.element.find(".template"), this.effect = "drop", this.createButtons(this.template), this.template.find(".removeBtn").hide() } return n.prototype.createButtons = function (n) { var t, i; return t = $('<button class="addBtn" type="button">Add<\/button>'), i = $('<button type="button" class="removeBtn">Remove<\/button>'), n.append(t), n.append(i), this.bindButtons(n) }, n.prototype.bindButtons = function (n) { var t = this; return n.find(".removeBtn").click(function () { return t.removeItem(n) }), n.find(".addBtn").click(function () { return t.addItem(n) }) }, n.prototype.removeItem = function (n) { var t = this; return n.hide(this.effect, function () { return n.remove(), t.recalculateIndexes(), t.updateButtonsVisibility() }) }, n.prototype.addItem = function (n) { var t; if (this.numberOfItems() < this.maxElements) return t = this.template.clone(), t.removeClass("template"), t.hide(), n.after(t), t.show(this.effect), this.bindButtons(t), this.recalculateIndexes(), this.updateButtonsVisibility() }, n.prototype.updateButtonsVisibility = function () { return this.numberOfItems() === this.maxElements ? (this.element.find(".addBtn").hide(), this.element.find(".removeBtn").show()) : this.numberOfItems() === 1 ? (this.element.find(".removeBtn").hide(), this.element.find(".addBtn").show()) : this.element.find(".removeBtn,.addBtn").show() }, n.prototype.recalculateIndexes = function () { var n, r, t, u, i; for (i = this.element.find(".item"), n = t = 0, u = i.length; t < u; n = ++t) r = i[n], $(r).find(".index").text(n + 1) }, n.prototype.numberOfItems = function () { return this.element.find(".item").size() }, n }(), $(function () { return new n($(".users2"), 3) }) });
    </script>*@


    <div class="users2">
        <div class="user template item">
            <h3 class="index">1</h3>
            <div class="label">User name: </div>
            <div class="data">
                <input type="text" class="userName" data-for="userName" />
            </div>
            <div class="label">Email: </div>
            <div class="data">
                <input type="text" class="email" data-for="email" />
            </div>

        </div>

    </div>
</div>
