﻿@{
    ViewBag.Title = "Home Page";
}
<script src="~/Scripts/Lab1/ex1.js"></script>
<link href="~/Content/Lab1.css" rel="stylesheet" />

@section featured {
    <section class="featured">
        <div class="content-wrapper">
        </div>
    </section>
}
<h2>Lab 1</h2>
<ul>
    <li>@Html.ActionLink("Hello kitty!", "Exercise", new { ex = 1, lab = 1 })</li>
    <li>@Html.ActionLink("Wrath of Khan", "Exercise", new { ex = 2, lab = 1 })</li>
    <li>@Html.ActionLink("Show me your graveyard", "Exercise", new { ex = 3, lab = 1 })</li>
</ul>
<h2>Lab 2</h2>
<ul>
    <li>@Html.ActionLink("Ciemność widze, widze ciemność", "Exercise", new { ex = 1, lab = 2 })</li>
</ul>
<h2>Lab 3</h2>
<ul>
    <li>@Html.ActionLink("T-1000: first lines of code", "Exercise", new { ex = 1, lab = 3 })</li>
</ul>
<h2>Lab 4</h2>
<ul>
	<li>@Html.ActionLink("We gonna sort it out babe", "Exercise", new { ex = 1, lab =4 })</li>
	<li>@Html.ActionLink("JQuery and QUnit? No pain no game!", "Exercise", new { ex = 2, lab =4 })</li>
	<li>@Html.ActionLink("Headless browser?! WAT!?", "Exercise", new { ex = 3, lab =4 })</li>
</ul>