﻿.st-box {
    border: solid 1px #ccc;
    text-align: center;
    width: 280px;
    margin: 10px;
}
.cemeteries {
    width: 375px;
}
.cemeteries .label {
    float: left;
    width: 120px;
    clear: left;
}

.cemeteries .data {
    float: left;
    width: 250px;
}

.cemetery {
     border: solid 1px #ccc;
    margin: 10px;
    display: block;
    width: 373px;
    height: 100px;
    padding: 5px;
}