﻿body {
}
.users,
.users2 {
    width: 375px;
    display: block;
    position: relative;
    height: auto;
}
.users .label ,
.users2 .label {
    float: left;
    width: 120px;
    clear: left;
}

.users .data ,
.users2 .data {
    float: left;
    width: 250px;
}
.users input ,
.users2 input{
    width: 220px;
}

.user {
    border: solid 1px grey;
    padding: 10px;
    height: 180px;
    width: 370px;
    margin-top: 10px;
    background-color: white;
}

.void {

    padding-top: 80px;
    width: 100%;
    border-top: solid 1px orange;
    margin-top: 80px;
}