﻿

.game-board {
	width: 512px;
	height: 512px;
	background-color: green;
	display: block;
	float: left;
}

.asset {
	display: none;
}

.counter {
	width: 70px;
	float: left;
}

	.counter .icon {
		float: left;
	}

	.counter .label {
		float: left;
		font-size: 28px;
		font-family: Consolas;
		color: grey;
		font-weight: bold;
	}

.color-selectors .color-selector,
.color-selectors .background-color-selector {
	width: 25px;
	height: 25px;
	border: solid 1px black;
	float: left;
	margin: 10px;
}

.task-desc {
	float: left;
}
.task-desc .em{
	font-weight: bold;
}