﻿@{
	ViewBag.Title = "Ex1";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/QUnit/QUnit.1.10.0.css" rel="stylesheet" />
<script src="~/Scripts/QUnit/QUnit.1.10.1.js"></script>
<script src="~/Scripts/Lab4/QuickSort.js"></script>
<script src="~/Scripts/Lab4/Ex1.js"></script>

<h2>We gonna sort it out babe</h2>
<h4>Przygotowanie testów QUnit</h4>
<ol>
	<li>Dodaj do pliku Lab4\Ex1.cshtml referencję do styli frameworka(&lt;link href="~/Content/QUnit/QUnit.1.10.0.css" rel="stylesheet" /&gt)</li>
	<li>Dodaj do pliku Lab4\Ex1.cshtml referencję do frameworka (&lt;script src="~/Scripts/QUnit/QUnit.1.10.1.js"&gt;&lt;/script&gt;)</li>
	<li>Dodaj do pliku Lab4\Ex1.cshtml pod treścią zadania następujący fragment HTML:
		<pre>
			&lt;h1 id="qunit-header"&gt;Unit Tests&lt;/h1&gt;
			&lt;h2 id="qunit-banner"&gt;&lt;/h2&gt;
			&lt;h2 id="qunit-userAgent"&gt;&lt;/h2&gt;
			&lt;ol id="qunit-tests"&gt;
			&lt;/ol&gt;
			&lt;div id="qunit-fixture"&gt;test markup, will be hidden&lt;/div&gt;
</pre>
		Jest to standardowy html, który jest używany przez framework do wyświetlania wyników testów.
	</li>
	<li>Do przetestowania jest metoda quickSort w obiekcie array, metoda ta jest dodawana dynamicznie przez kod w pliku QuickSort.js. Dodaj do pliku Lab4\Ex1.cshtml referencję do testowanego pliku (&lt;script src="~/Scripts/Lab4/QuickSort.js"&gt; &lt;/script&gt;)</li>
	<li>Dodaj do pliku Lab4\Ex1.cshtml referencję do pliku, który będzie zawierał testy (&lt;script src="~/Scripts/Lab4/Ex1.js"&gt; &lt;/script&gt;)</li>
</ol>
<h4>Pisanie testów</h4>
<ol>
	<li>Oto przykładowy test:
		<pre>
test 'quickSort doesn\'t change array if array is sorted', () -&gt;
	#given
	soretedArray = [1,2,3,4,5,6,7,8]
	#when
	Array.quicksort(soretedArray)
	#then
	deepEqual(soretedArray,[1,2,3,4,5,6,7,8])

	</pre>

	</li>
	<li>Dodaj przynajmniej trzy różne testy do pliku Lab4\Ex1.coffee. Listę assertów najdziesz <a href="http://api.qunitjs.com/category/assert/">na tej stronie</a></li>
	<li>Co się stanie jeśli zamiast metody <em>deepEqual</em> użyjesz <em>equal</em>? 
        <br /> <a href="http://stackoverflow.com/questions/13225274/the-difference-between-assert-equal-and-assert-deepequal-in-javascript-testing-w">Odpowiedź</a></li>
	<li>Możesz pogrupować testy wywołując funkcję <em>module('nazwa grupy')</em> przed wywołaniem funkcji <em>test()</em></li>

</ol>
<h1 id="qunit-header">Unit Tests</h1>
			<h2 id="qunit-banner"></h2>
			<h2 id="qunit-userAgent"></h2>
			<ol id="qunit-tests">
			</ol>
			<div id="qunit-fixture">test markup, will be hidden</div>