﻿@{
    ViewBag.Title = "Ex2";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
	.test-playground {
		display: none;
	}
</style>
<h2>JQuery and QUnit? No pain no game!</h2>
<link href="~/Content/QUnit/QUnit.1.10.0.css" rel="stylesheet" />
<script src="~/Scripts/QUnit/QUnit.1.10.1.js"></script>
<script src="~/Scripts/Lab2/Ex1.js"></script>
<script src="~/Scripts/Lab4/Ex2.min.js"></script>
<ol>
	<li>W tym zadaniu będziesz testował kontrolkę napisaną podczas Lab2.</li>
	<li>Testy powinny być autonomiczne i wyizolowane, dlatego przed rozpoczęciem testu chcemy utworzyć 'świeżą' instancję kontrolki, natomiast po każdym teście chcemy ją usunąć.</li>
	<li>W tym celu należy użyć parametru <em>setup</em> i <em>teardown</em> w metodzie  module. Spójrz na plik Lab4\Ex2.coffee i zobacz w jaki sposób skonfigurowano framework aby testy były niezależne od siebie.</li>
	<li>Spróbuj dopisać test sprawdzający czy można dodać więcej elementów niż wartość przekazana do kontrolki w konstruktorze.</li>
</ol>

<div class="test-playground"></div>
<h1 id="qunit-header">Unit Tests</h1>
			<h2 id="qunit-banner"></h2>
			<h2 id="qunit-userAgent"></h2>
			<ol id="qunit-tests">
			</ol>
			<div id="qunit-fixture">test markup, will be hidden</div>