﻿@{
    ViewBag.Title = "Ex3";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Headless browser?! WAT!?</h2>
<ol>
	<li>Zainstaluj dodatek do VS chutzpah.</li>
	<li>Po instalacji wejdź w opcje dodatku (Tools->Options->chutzpah). Ustaw Max level of Parallelism na 1 oraz Testing Mode na CoffeeScript.</li>
	<li>Otwórz Test Explorer w VS (Test->Windows->Test Explorer).</li>
	<li>Otwórz plik Lab4\Ex1.coffee i dodaj w pierwszej linii taki komentarz:<pre>## &lt;reference path="QuickSort.coffee" /&gt;</pre> </li>
	<li>Uruchom testy z Test Explorera</li>
	<li>Przerób testy z pliku Lab4\Ex2.coffee tak aby działały z Test Explorera</li>

</ol>